/* @tailwind base;
@tailwind components;
@tailwind utilities;
  */
/* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} */

/* .nav{
    width: 100%;
    height: 95px;
    background-color: white;
    justify-content: space-evenly;
    display: flex;
    box-shadow: 0,2px,5px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(233, 232, 232, 0.742);
    position: fixed;
    top: 0;

} */


/* .link > h1{
    color: black;
    font-size: 2rem;
} */
/* .mynav:hover{
    color: rgb(86,204,195);
}
.mynav:nth-child(2){
    color: rgb(86,204,195);
} */
/* h1 > span{
    color: rgb(86,204,195);
    font-size: 2rem;
}
h1 >  h5{
    color: rgb(193, 190, 190);
    font-size: 10px;
} */
/* .icon > button{
    width: 300px;
    height: 50px;
    border: 2px solid  rgb(253,85,109);
    background-color:  rgb(253,85,109);
    color: white;
    border-radius: 100px;
} */

/* button:hover{
   background-color: white;
    color:  rgb(253,85,109);
} */

/* .icon{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.icon> .myicon:hover{
color: white;
background-color: rgb(86,204,195);
border-radius: 100%;
padding: 7px;
} */

/* .navbar{
    flex-direction: column;
    display: flex;
}
.navbar > .line{
    width: 20px;
    height: 5px;
    background-color: black;
    margin: 5px;
    
}
  
.navbar:active > .line:nth-child(1){
    transform: rotate(90deg) translate(5px 5px);
}
.navbar:active > .line:nth-child(2){
   opacity: 0;
}
.navbar:active > .line:nth-child(3){
    transform: rotate(-40deg) translate(5px -5px);
}

@media screen and  (max-width: 768px){
    .nav{
        justify-content: center;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 50px;
        right: 0;
     

    }
    nav.hidden{
        transform: translateX(0);
    }
     .nav > .icon{
        display: none;
     }

     .nav > .link > .mynav{
        display: none;
     }
    .nav > .navbar{
        display: flex;
    }
}
 


header{
    display: flex;
    padding: 3%;
    background-color: green;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 50px;
    width: 100%;
}
nav{
    display: flex;
    gap: 30px;
}
nav>a{
    text-decoration: none;
    color: white;
}
.menu{
    display: none;
    flex-direction: column;
    gap: 3px;
}
.bar{
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background-color: white;
}

@media screen and (max-width:768px) {
    nav{
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        top: 50px;
        transition: 1s ease-in-out;
      transform: translateX(-100%);
        width: 100%;
        background-color: black;
        color: white;
        height: 100vh;
    }
    .menu{
        display: flex;
    }
    nav>a{
        margin-top: 10px;
    }
    nav.hidden{
        transform: translateX(0);
    }
} */


 